@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}

body {
    background: #FDFFF5;
    font-family: 'Libre Baskerville';
    
}

p{
    color: #353535;
    
}
.header {
    background-image:  linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('images/pexels-pixabay-269077.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

a{
    text-decoration: none;
}

ul {
    list-style-type: none;
   
}


/* NAV */


nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar {
    width: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
    
}



.pmb_internet_btn {
    background-color:  #3F51B5;
    color: #FDFFF5;
    border-color: #3F51B5;
    padding: 0.5rem;
    font-size: small;
    
}

.pmb_internet_btn:hover {
    
    border-color: #3F51B5;
    background-color: #FDFFF5;
    color: #3F51B5;
    padding: 0.5rem;
    font-size: small;
    transition: 0.5s;
    
}

ul {
    display: flex;
    justify-content: space-evenly;
    font-size: small;
    

}

.nav-links {

    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links ul li a {
    margin-right: 1.3rem;
    color: #FDFFF5;
}

.nav-links ul li a:hover {
    margin-right: 1.3rem;
    color: #3F51B5;
    border-bottom: 2px solid #3F51B5;
}

.pmb_open_acc {
    display: flex;
    justify-content: flex-end;
    margin-left: 1rem;
    
}

.pmb_open_acc-btn {
    font-size: small;
    color: #FDFFF5;
    border-color: #FDFFF5;
    padding: 0.5rem;
}

.pmb_open_acc-btn:hover {
    font-size: small;
    color: #FDFFF5;
    border-color: #3F51B5;
    background-color: #3F51B5;
    padding: 0.5rem;
    transition: 0.5s;
}


.pmb_logo {
    display: flex;
    margin: 1rem;
    height: 60px;
}

.bgColor {
    background-color:#FDFFF5;
    transition: all 0.5s ease;
    z-index: 1;
   
}

.dropdown:hover .dropdown-menu{
    display: block;
}
.nav-item_drop {
    background-color: #FDFFF5;
    height: 50vh;
    width: 100%;
}

.intro {
    padding-top: 25%;
    padding-left: 50px;
}

.intro h1{
    color: #FDFFF5;
    padding-bottom: 20px;
}

.intro h3{
    color: #FDFFF5;
    font-size: x-large;
    
}

@media screen and (min-width: 990px) {
    .small_screen {
        display: none;
    }
}


@media screen and (max-width: 989px) {
    .large_screen{
        display: none;
    }

    body {
        overflow-x: hidden;
    }

    #slide1 {
        background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8)), url('images/hunters-race-MYbhN8KaaEc-unsplash.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #slide2 {
        background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8)), url('images/david-rodrigo-Fr6zexbmjmc-unsplash.jpg');   
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;  
    }

    #slide3 {
        background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8)), url('images/cardmapr-nl-s8F8yglbpjo-unsplash.jpg'); 
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #slide4 {
        background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8)), url('images/luca-bravo-TaCk3NspYe0-unsplash.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .navbar {
        background-color: #FDFFF5;
    }

    .navbar p {
        color: #3F51B5;
    }

    .nav-link:hover {
        color: #3F51B5;
        transition: 0.5s;
    
    }

    .navbar #pmb_open_acc-btn_small {
        font-size: small;
        color: #353535;
        border-color: #353535;
        padding: 0.5rem;
    }
    
    .navbar #pmb_open_acc-btn_small:hover {
        font-size: small;
        color: #FDFFF5;
        border-color: #3F51B5;
        background-color: #3F51B5;
        padding: 0.5rem;
        transition: 0.5s;
    }
    @media screen and (max-width: 500px) {
        .xx_small_screen {
            display: none;
        }
    }
    
}

/* get started */

.get_started {
    margin-top: 5%;
    padding-left: 10%;
}

.get_started .first_intro {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 5%;
}

.get_started_text {
    margin-top: 10%;
   
}

.form-select {
    background-color: #FDFFF5;
    color: #353535;
    font-size:medium;
}


.get_started_button  a {
    display: flex;
    color: #FDFFF5;
    text-align: center;
    background-color: #3F51B5;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.get_started_button  a:hover {
    display: flex;
    color: #3F51B5;
    text-align: center;
    background-color: #FDFFF5;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-color: #3F51B5;
}

.get_started_img {
    padding-right: 10px;
   
}

.get_started_img img {
    width: 100%;
   height: 100%;
}

/* why choose PMB */
.wc_pmb {
    margin-top: 5%;
    padding-top: 5%;
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8)), url('images/nasa-1lfI7wkGWZ4-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    
}

.wc_pmb_text {
    padding-top: 7%;
    padding-left: 5%;
    color: #FDFFF5;
}

.wc_pmb_text h5{
    padding-bottom: 1%;
} 

.wc_pmb_text p{
    padding-top: 20px;
    padding-bottom: 5px;
    color: #FDFFF5;
} 

.wc_pmb_button {
    display: flex;
}

.wc_pmb_button {
    padding-left: 5%;
}

.wc_pmb-btn2{
    margin-left: 5rem;
}
.wc_pmb-btn1{
    padding: 0.5rem;
    font-size: small;
    color: #FDFFF5;
    border-color: #3F51B5;
}

.wc_pmb-btn1:hover{
    padding: 0.5rem;
    font-size: small;
    color: #FDFFF5;
    background-color: #3F51B5;
    border-color: #FDFFF5;
}


.wc_pmb-btn2{
    padding: 0.5rem;
    font-size: small;
    color: #FDFFF5;
    border-color: #FDFFF5;
    background-color: #3F51B5;
}

.wc_pmb-btn2:hover{
    padding: 0.5rem;
    font-size: small;
    color: #FDFFF5;
    border-color: #3F51B5;
}

@media screen and (max-width: 400px) {
    .wc_pmb_button {
        display: flex;
        flex-direction: column;      
    }

    .wc_pmb-btn2 {
        margin-top: 5%;
        margin-left: 0;
        display: flex;
        justify-content: center;
        text-align: center;
    }


}


/* Report News */


.report {
    margin-top: 5%;
    
}

.card {
    background: #FDFFF5;
}

/* persona or business account */

.account {
    margin-top: 5%;

     /* ff 3.6+ */
     background:-moz-linear-gradient(90deg, rgba(63, 81, 181, 1) 0%, rgba(23, 22, 23, 0.92) 73%, rgba(23, 22, 23, 0.92) 82%, rgba(23, 22, 23, 0.92) 89%); 

     /* safari 5.1+,chrome 10+ */
     background:-webkit-linear-gradient(90deg, rgba(63, 81, 181, 1) 0%, rgba(23, 22, 23, 0.92) 73%, rgba(23, 22, 23, 0.92) 82%, rgba(23, 22, 23, 0.92) 89%);
 
     /* opera 11.10+ */
     background:-o-linear-gradient(90deg, rgba(63, 81, 181, 1) 0%, rgba(23, 22, 23, 0.92) 73%, rgba(23, 22, 23, 0.92) 82%, rgba(23, 22, 23, 0.92) 89%);
 
     /* ie 6-9 */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171617', endColorstr='#3F51B5', GradientType=0 );
 
     /* ie 10+ */
     background:-ms-linear-gradient(90deg, rgba(63, 81, 181, 1) 0%, rgba(23, 22, 23, 0.92) 73%, rgba(23, 22, 23, 0.92) 82%, rgba(23, 22, 23, 0.92) 89%);
 
     /* global 94%+ browsers support */
     background:linear-gradient(90deg, rgba(63, 81, 181, 1) 0%, rgba(23, 22, 23, 0.92) 73%, rgba(23, 22, 23, 0.92) 82%, rgba(23, 22, 23, 0.92) 89%);
}

.acc_text {
    padding-top: 7%;
    padding-left: 7%;
    color: #FDFFF5;
}

.open_acc_btn{
    padding-top: 5%;
}

.personal_acc_btn {
    color: #FDFFF5;
    margin-left: 20%;
    background: #3F51B5;
    border-color: #3F51B5;
    border-radius: 7px;
    font-size: small;
}

.personal_acc_btn:hover {
    color: #FDFFF5;
    margin-left: 20%;
    background: transparent;
    border-color: #FDFFF5;
    border-radius: 7px;
    font-size: small;
}

.business_acc_btn{
    margin-bottom: 15%;
    color: #FDFFF5;
    border-color: #FDFFF5;
    border-radius: 7px;
    font-size: small;
}

.business_acc_btn:hover {
    margin-bottom: 15%;
    color: #FDFFF5;
    border-color: #3F51B5;
    background: #3F51B5;;
    border-radius: 7px;
    font-size: small;
}


/* Form card */
.card1 {
    width: 100%;
    height: 100%;
   
}

@media screen and (max-width: 439px){
    .form-lg-screen {
        display: none;
    }
}
.card1-btn {
    color: #FDFFF5;
    background: #3F51B5;
    border-color: #3F51B5;
    border-radius: 7px;
    font-size: small;

}

.card1-btn:hover {
    color: #FDFFF5;
    background: #3F51B5;
    border-color: #3F51B5;
    border-radius: 7px;
    font-size: small;
}


.card2 {
    background: #3F51B5;
    width: 100%;
    height: 100%;

    
}

.card2-btn{
    color: #3F51B5;
    background: #FDFFF5;
    border-color: #FDFFF5;
    border-radius: 7px;
    font-size: small;
}

.card2-btn:hover{
    color: #3F51B5;
    background: #FDFFF5;
    border-color: #FDFFF5;
    border-radius: 7px;
    font-size: small;
}


/* banking */

.banking {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8)), url('images/scott-graham-OQMZwNd3ThU-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 70vh;
}
 
.banking_intro {
    padding-top: 15%;
    padding-left: 5%;
}

.banking .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* strong and trusted */
.strong_trusted {
    margin-top: 5%;
}

.strong_trusted .text {
    border-top: 2px solid #3F51B5 !important;
}

.strong_trusted .card {
    border-top: 2px solid #3F51B5 !important;
}


/* Open_business */
.Open_business {
    margin-top: 5%;
    background-color: #f9f7f7;
    display: flex;
}

.Open_business .text {
    margin-top: 8%;
    padding-left: 10%;
}
.Open_business img{
    margin-right: 0;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
}

@media  screen and (max-width: 800px) {
    .Open_business {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* news and Resources */
.news_res {
    height: 100%;
    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(14, 15, 20, 1) 0%, rgba(102, 112, 167, 1) 50%, rgba(0, 4, 23, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(14, 15, 20, 1) 0%, rgba(102, 112, 167, 1) 50%, rgba(0, 4, 23, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(14, 15, 20, 1) 0%, rgba(102, 112, 167, 1) 50%, rgba(0, 4, 23, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000417', endColorstr='#0E0F14', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(14, 15, 20, 1) 0%, rgba(102, 112, 167, 1) 50%, rgba(0, 4, 23, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(14, 15, 20, 1) 0%, rgba(102, 112, 167, 1) 50%, rgba(0, 4, 23, 1) 100%);

}

.news_res .card {
    width: 100%;
    height: 100%;

}

/* open business 2 */

.Open_business2 {
    margin-top: 0;
    background-color: #f9f7f7;
}

.Open_business2 .text {
    margin-top: 8%;
    padding-left: 10%;
}
.Open_business2 img{
    margin-right: 0;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
}

/* About */

.about {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8)), url('images/matt-jones-9CPAjGVB378-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 70vh;
}
 
.about_intro {
    padding-top: 15%;
    padding-left: 5%;
}

.about .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.about_link p {
    color: #353535;
}

.about_btn {
    color: #3F51B5;
    border: none;
}

.about_btn:hover {
    color: #353535;
    border-bottom: 2px solid #3F51B5;
}

/* family owned */

.family_owned {
    margin-top: 5%;
    background-color: #f9f7f7;
    display: flex;
}

.family_owned .text {
    margin-top: 8%;
    padding-left: 10%;
}
.family_owned img{
    margin-right: 0;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
}

@media  screen and (max-width: 767px) {
    .family_owned {
        display: flex;
        flex-direction: column-reverse;
    }
}


/* commited */

.commited {
    margin-top: 0;
    background-color: #f9f7f7;
}

.commited .text {
    margin-top: 8%;
    padding-left: 10%;
}
.commited img{
    margin-right: 0;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
}

/* join */

.join {
    margin-top: 0;
    background-color: #f9f7f7;
    display: flex;
}

.join .text {
    margin-top: 8%;
    padding-left: 10%;
}
.join img{
    margin-right: 0;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
}

@media  screen and (max-width: 767px) {
    .join {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* testimony */
.testimony {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8)), url('images/matt-jones-9CPAjGVB378-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 70vh;
}

.testimony .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* Online banking */
.online-banking {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8)), url('images/blake-wisz--JJg90OAnWI-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 70vh;
}

.online-banking_intro {
    padding-top: 15%;
    padding-left: 5%;
}

.online-banking .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.connect-con {
    margin-top: 10%;
}
.connect {
    padding-top: 2%;
    padding-left: 15%;
    padding-right:  15%;
}


/* testimony3 */
.testimony3 {
    margin-top: 5%;
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8)),  url('images/blake-wisz--JJg90OAnWI-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 70vh;
}

.testimony3 .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


/* internet banking */

.internet_banking .card-body{
    padding-left: 4%;
}

.internet_banking ul {
    list-style-type: circle;
}

.internet_banking ul li {
    padding: 2%;
}



.line1{
    width: 100%;
    height: 3px;
    background: black;
    margin-top: 5%;
  }
  
  @media only screen and (min-width: 768px) {
    .line1{
      transform: rotate(90deg);
      width: 100%;
      height: 3px;
      margin-top: 350%;
    }
  }


.collapseable-con {
    margin-top: 5%;
}

.accordion {
    max-width: 800px;
}

.accordion .contentBx {
    position: relative;
    margin: 10px 20px;
}


.accordion .contentBx .label  {
    position: relative;
    padding: 10px;
    color: #f9f7f7;

      /* ff 3.6+ */
      background:-moz-linear-gradient(90deg, rgba(14, 15, 20, 1) 0%, rgba(102, 112, 167, 1) 50%, rgba(0, 4, 23, 1) 100%); 

      /* safari 5.1+,chrome 10+ */
      background:-webkit-linear-gradient(90deg, rgba(14, 15, 20, 1) 0%, rgba(102, 112, 167, 1) 50%, rgba(0, 4, 23, 1) 100%);
  
      /* opera 11.10+ */
      background:-o-linear-gradient(90deg, rgba(14, 15, 20, 1) 0%, rgba(102, 112, 167, 1) 50%, rgba(0, 4, 23, 1) 100%);
  
      /* ie 6-9 */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000417', endColorstr='#0E0F14', GradientType=0 );
  
      /* ie 10+ */
      background:-ms-linear-gradient(90deg, rgba(14, 15, 20, 1) 0%, rgba(102, 112, 167, 1) 50%, rgba(0, 4, 23, 1) 100%);
  
      /* global 94%+ browsers support */
      background:linear-gradient(90deg, rgba(14, 15, 20, 1) 0%, rgba(102, 112, 167, 1) 50%, rgba(0, 4, 23, 1) 100%);
  
}

.accordion .contentBx .label::before  {
    content: '+';
    position: absolute;
    top: 15%;
    right: 20px;
    transform: translate(-50%);
    font-size: 1.5em;
}

.accordion .contentBx.active .label::before {
    content: '-';
}

.accordion .contentBx .content {
    position: relative;
    
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;

}

.accordion .contentBx.active .content {
    height: 100%;
    padding: 10px;
}



/* Product */
.product {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8)), url('images/nrd-D6Tu_L3chLE-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 70vh;
}

.product_intro {
    padding-top: 15%;
    padding-left: 5%;
}

.product .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.loan {
    padding: 5% 10%;
}

.loan-card {
    height: 100%;
    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(14, 15, 20, 1) 0%, rgba(102, 112, 167, 1) 50%, rgba(0, 4, 23, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(14, 15, 20, 1) 0%, rgba(102, 112, 167, 1) 50%, rgba(0, 4, 23, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(14, 15, 20, 1) 0%, rgba(102, 112, 167, 1) 50%, rgba(0, 4, 23, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000417', endColorstr='#0E0F14', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(14, 15, 20, 1) 0%, rgba(102, 112, 167, 1) 50%, rgba(0, 4, 23, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(14, 15, 20, 1) 0%, rgba(102, 112, 167, 1) 50%, rgba(0, 4, 23, 1) 100%);

}

.loan-card .card {
    width: 100%;
    height: 100%;

}

/* testimony */
.testimony2 {
    margin-top: 5%;
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8)),  url('images/nrd-D6Tu_L3chLE-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 70vh;
}

.testimony2 .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


/* Sustainability */
.sustainability {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8)), url('images/rabih-shasha-tTv6Lo5uQVQ-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 70vh;
}

.sustainability_intro {
    padding-top: 15%;
    padding-left: 5%;
}

.sustainability .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* testimony4 */
.testimony4 {
    margin-top: 5%;
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8)),  url('images/rabih-shasha-tTv6Lo5uQVQ-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 70vh;
}

.testimony4 .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* open an account now */ 

.open-aacount-now {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8)), url('images/christina-wocintechchat-com-LQ1t-8Ms5PY-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 70vh;
}

.open-aacount-now_intro {
    padding-top: 15%;
    padding-left: 5%;
}

.open-aacount-now .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.account-opening-btn {
        display: block;
        width: 100%;
}

.sign-up-link{
    text-decoration: underline;
    
}

.line{
    width: 100%;
    height: 3px;
    background: black;
    margin-top: 5%;
  }
  
  @media only screen and (min-width: 768px) {
    .line{
      transform: rotate(90deg);
      width: 100%;
      height: 3px;
      margin-top: 0;
    }
  }



/* links */
.link {
    margin-top: 9%;
    font-size: small;
    margin-bottom: 5%;
}

.link div a {
    color: #353535;
  
}

.link-a:hover {
    border-bottom: 2px solid #3F51B5;
  
}

.social-link:hover{
    transition: 0.4s ease-in-out;
    color: #3F51B5;
}

/* footer */

.footer {
    background-color: #353535;
    color: #FDFFF5;
}

.footer a {
    color: #FDFFF5;
}





